<main class="with-sidebar">

    <div class="course-market-grid">
        <% courses.forEach(course=> {
            const isEnrolled = enrolledIds.includes(course._id.toString());
            %>
            <div class="course-market-card">
                <div class="course-market-card-btn">
                    <span class="course-market-badge"><img src="/icons/layer.png" alt=""> Course</span>
                </div>
                
                <h2 class="course-market-card-title">
                    <%= course.title %>
                </h2>

                <h4 class="course-market-card-subtitle">
                    <%= course.subtitle %>
                </h4>

                <p class="course-market-subtitle">
                    <img class="course-market-info-icon" src="/icons/info.png" alt="">
                    <%- course.summary %>
                </p>

                <div class="course-card-footer">
                    <% if (isEnrolled) { %>
                        <button class="enroll-btn enrolled" disabled>Enrolled</button>
                        <% } else { %>
                            <form method="POST" action="/courses/<%= course._id %>/enroll">
                                <button type="submit" class="enroll-btn">Enroll</button>
                            </form>
                            <% } %>
                </div>
            </div>
            <% }) %>
    </div>
</main>