<main class="with-sidebar">
    <% if (currentLesson) { %>
        <%- include('lesson', { lesson: currentLesson }) %>
            <% } else { %>
                <section class="lesson-wrapper">
                    <h2 class="lesson-title">
                        <%= course.title %>
                    </h2>
                    <p class="lesson-intro">Select a lesson from the sidebar to begin.</p>
                </section>
                <% } %>
</main>