/* Shared layout styles */
@media (min-width: 1024px) {
    .with-sidebar {
        margin-left: 240px;
        /* width of the sidebar */
        padding: 1rem 1rem;
    }
}

body {
    background: var(--theme-clr-5);
}

.page-wrapper {
    flex: 1;
    padding-top: calc(var(--header-height) + var(--subheader-height));
    padding-inline: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}

/* === DESKTOP === */
@media (min-width: 1024px) {
    .with-sidebar.grid-layout {
        display: grid;
        grid-template-columns: minmax(320px, 400px) minmax(360px, 1fr);
        gap: 2rem;
        padding: 2rem;
        margin-left: 240px;
        /* to account for fixed nav */
    }
}