/* === Lesson Page Container === */
.lesson-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.lesson-title {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-2xl);
    margin-top: 0;
}

/* === Lesson Video === */
.lesson-video {
    position: relative;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.lesson-video video {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
}

.video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.video-overlay img {
    width: 60px;
    height: 60px;
    filter: var(--icon-clr-1);
}

.video-overlay.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    /* ully remove it from visual stacking */
}

/* === Lesson Content === */
.lesson-content {
    background: var(--theme-clr-3);
    border-radius: 5px;
    box-shadow: var(--shadow-sm);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.lesson-content p,
.lesson-content li {
    font-size: var(--font-size-lg);
    color: var(--font-clr-2);
    font-weight: var(--font-weight-6);
    line-height: 1.3rem;
}

.lesson-content ol,
.lesson-content ul {
    padding-left: 2rem;
}

/* === Lesson Complete Buttons === */
.lesson-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-6);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    background-color: var(--theme-clr-1);
    color: var(--font-clr-1);
    width: 100%;
    margin-top: 2rem;
    transition: var(--bg-hover-ts-1);
}

.lesson-submit-button:hover {
    background-color: var(--theme-clr-4)
}


/* === QUIZ INTRO === */
.lesson-quiz-start-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid var(--theme-clr-1);
    border-radius: var(--border-radius-1);
    text-align: center;
    overflow: hidden;
    gap: 1rem;
}

.quiz-intro-title,
.quiz-intro-p,
.lesson-quiz-button {
    margin: 0;
    padding: 1rem;
}

.lesson-quiz-button {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: .8rem;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-6);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    background-color: var(--theme-clr-1);
    color: var(--font-clr-1);
    max-width: 300px;
    width: 100%;
}

@media (min-width: 1200px) {
    .lesson-quiz-button {
        max-width: 400px;
    }
}

.quiz-intro-title {
    background-color: var(--theme-clr-1);
    color: var(--font-clr-1);
    border-radius: 0;
}

.quiz-intro-p {
    padding: 1rem 1rem;
}

.lesson-quiz-button {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}