footer {
    padding: 10px 16px calc(10px + env(safe-area-inset-bottom));
    background-color: black;
    text-align: center;
    color: var(--font-clr-1);
    font-size: var(--font-size-xl);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
}